<div>
<h1>Blogging site</h1>
    <div id="message-board"></div>
    <form action="" id="form">
        <input type="text" placeholder="Enter message" id="input">
        <button>Send</button>
    </form>
    </div>